<main class="h-screen w-screen flex items-center justify-center bg-cover bg-center bg-primary">
    <app-wrap extendClass="flex flex-col items-center justify-center gap-y-4">
        <img class="w-80" src="../../../assets/images/sitpass-white.png" alt="logo">
        <div class="bg-white border-2 border-primary px-12 py-8 shadow-2xl rounded-2xl">
            <div class="flex flex-col items-center gap-y-8">
                <h2 class="text-3xl text-primary font-bold">Login</h2>
                <app-login-form></app-login-form>
            </div>
        </div>
    </app-wrap>
</main>
