<form (ngSubmit)="onRateSubmit()" class="flex flex-col gap-y-4">
    <div class="flex flex-col lg:flex-row gap-4">
        <div class="my-input-wrap">
            <label>Space:</label>
            <input type="number" name="space" placeholder="Space" class="my-input-secondary" [(ngModel)]="formData.space" min="1" max="10" />
        </div>
        <div class="my-input-wrap">
            <label>Hygene:</label>
            <input type="number" name="hygene" placeholder="Hygene" class="my-input-secondary" [(ngModel)]="formData.hygene" min="1" max="10" />
        </div>
    </div>
    <div class="flex flex-col lg:flex-row gap-4">
        <div class="my-input-wrap">
            <label>Staff:</label>
            <input type="number" name="staff" placeholder="Staff" class="my-input-secondary" [(ngModel)]="formData.staff" min="1" max="10" />
        </div>
        <div class="my-input-wrap">
            <label>Equipment:</label>
            <input type="number" name="equipment" placeholder="Equipment" class="my-input-secondary" [(ngModel)]="formData.equipment" min="1" max="10" />
        </div>
    </div>
    <p class="my-text-error text-center lg:text-left">{{errorMessage}}</p>
    <p class="my-text-success text-center lg:text-left">{{successMessage}}</p>
    <div class="flex items-center justify-center lg:justify-end lg:items-end">
        <app-button type="submit" extendClass="border-primary hover:bg-primary hover:border-primary hover:text-white items-center"
        >Make An Impression
    </app-button>
    </div>

    <app-modal [showModal]="showCommentModal">
        <h3 class="text-xl font-bold pb-4">Comment(opt):</h3>
        <textarea name="message" class="w-full border-primary border-2 px-4 py-2 mb-2 rounded-lg" rows="5" [(ngModel)]="comment" placeholder="Leave your comment here."></textarea>
        <app-button extendClass="border-primary w-full" (buttonClick)="onSubmit()">Confirm</app-button>
    </app-modal>
</form>
