<form (ngSubmit)="sendAccountRequests()" class="flex flex-col gap-y-6 items-center text-primary">
    <input class="my-input" placeholder="Email" type="email" id="email" name="email" [(ngModel)]="formData.email"
        required (input)="clearErrorMessage()">
    <input class="my-input" placeholder="Password" type="password" id="password" name="password" [(ngModel)]="formData.password"
        required (input)="clearErrorMessage()">
    <input class="my-input" placeholder="Address" type="text" id="address" name="address" [(ngModel)]="formData.address" 
        required (input)="clearErrorMessage()">
        <p class="my-text-error text-center">{{errorMessage}}</p>
        <app-button extendClass="text-white bg-primary hover:text-primary hover:bg-white  border-2 border-primary px-6 pt-3" type="submit">Send Account Request</app-button>
        <a class="font-bold underline" routerLink="/login">GO BACK TO LOGIN PAGE</a>
</form>