<form [class]="extendClass + ' flex flex-col justify-between gap-x-12 gap-y-8 mt-12 lg:mt-0'" (ngSubmit)="onSubmit()">
    <div class="my-input-wrap lg:max-w-80">
        <input type="password" placeholder="Current password" class="my-input-secondary" required
            [(ngModel)]="formData.typedCurrentPassword" name="currentPassword">
    </div>
    <div class="my-input-wrap lg:max-w-80">
        <input type="password" placeholder="New password" class="my-input-secondary" required
            [(ngModel)]="formData.newPassword1" name="newPassword1">
    </div>
    <div class="my-input-wrap lg:max-w-80">
        <input type="password" placeholder="Repeat new password" class="my-input-secondary" required
            [(ngModel)]="formData.newPassword2" name="newPassword2">
    </div>
    <p *ngIf="formData.errorMessage" class="my-text-error text-center lg:text-left">{{formData.errorMessage}}</p>
    <p *ngIf="formData.successMessage" class="my-text-success text-center lg:text-left">{{formData.successMessage}}</p>
    <div class="flex flex-col lg:flex-row gap-y-2 gap-x-2 items-center lg:items-start">
        <app-button type="submit"
            [extendClass]="'border-primary hover:bg-primary hover:border-primary hover:text-white items-center'">UPDATE PASSWORD</app-button>
    </div>
</form>